* {
  font-weight: 400;
}

html {
  background-color: #FAEBD7;
  color: #371C10;
}

body {
  margin: 0;
  text-align: center;
}

/* ----- main section ----- */
main {
  display:flex;
  padding: 0 400px 0;
  /* padding: 0 300px 0; */
  /* padding: 0 200px 0; */
}

#main-section {
  padding: 0 15px;
}

/* #main-section > .main-article-wrapper {
  width: 50%;
} */



/* ---- TOPページ main 記事一覧 ---- */

.latest-update-heading {
  text-align: left;
  border-bottom: #371C10 1px solid;
}

.blog-list-item-wrapper {
  padding: 0;
}


/* ---- BLOGページ main  ---- */
.contents-article-wrapper {
  background-color: rgb(255, 255, 255, 0.5);
}


.contents-article-image-wrapper > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  main {
    /* display: block; */
    padding: 0 180px 0;
  }
}

@media (max-width: 1400px) {
  main {
    /* display: block; */
    padding: 0 160px 0;
  }
}

@media (max-width: 1300px) {
  main {
    /* display: block; */
    padding: 0 140px 0;
  }
}

@media (max-width: 1200px) {
  main {
    /* display: block; */
    padding: 0 120px 0;
  }
}

@media (max-width: 1100px) {
  main {
    /* display: block; */
    padding: 0 100px 0;
  }
}

@media (max-width: 1000px) {
  main {
    /* display: block; */
    padding: 0 50px 0;
  }
}

@media (max-width: 1000px) {
  main {
    /* display: block; */
    padding: 0 50px 0;
  }
}

@media (max-width: 900px) {
  main {
    /* display: block; */
    padding: 0 40px 0;
  }
}

@media (max-width: 800px) {
  main {
    display: block;
    padding: 0 20px 0;
  }
}

@media (max-width: 700px) {
  main {
    display: block;
    padding: 0 20px 0;
  }
}

@media (max-width: 600px) {
  /* 600px以上の画面で適用するCSS */
  main {
    display: block;
    padding: 0;
  }

  .latest-update-heading {
    text-align: left;
    border-bottom: #371C10 1px solid;
  }

  .blog-list-item-wrapper {
    padding: 0;
  }

  /* ---- BLOGページ main  ---- */
  .contents-article-wrapper {
    background-color: rgb(255, 255, 255, 0.5);
  }



  .contents-article {

  }

  .contents-article-image-wrapper > img {
    width: 100%;
    height: 100%;
  }
}

/* ---- sub section ---- */
#sub-section {
  /* ボーダーは仮置き */
  /* border: 1px solid #371C10; */
  padding: 0 15px;
}

@media (max-width: 800px) {
  main {
    display: block;
    padding: 0 20px 0;
  }
}
