* {
  font-weight: 400;
}

html {
  background-color: #FAEBD7;
  color: #371C10;
}

body {
  margin: 0;
  text-align: center;
}

/* ----- main section ----- */
/* main {
  ボーダーは仮置き
  border: 1px solid #371C10;
} */

/* ---- TOPページ main 記事 ---- */
.main-article {
  background-color: rgb(255, 255, 255, 0.5);
}

.main-article-title {
  margin: 0;
  text-align: left;
}

.main-article-up-date {
  margin: 0;
  text-align: left;
}

.main-article-image-wrapper > img {
  width: 100%;
  height: 100%;
}

/* ---- TOPページ main 記事一覧 ---- */

.latest-update-heading {
  text-align: left;
  border-bottom: #371C10 1px solid;
}

ul {
  list-style: none;
  padding: 0;
}

/* ---- BLOGページ main  ---- */
.contents-article-wrapper {
  background-color: rgb(255, 255, 255, 0.5);
}



.contents-article {

}

.contents-article-image-wrapper > img {
  width: 100%;
  height: 100%;
}


/* ---- sub section ---- */
#sub-section {
  /* ボーダーは仮置き */
  /* border: 1px solid #371C10; */
}

