---
const { ListImages } = Astro.props
import { Image } from 'astro:assets';
---
<li>
  <!-- 309x204 -->
    <!-- 618x408 -->
    <!-- 103:68 -->
  <article class="line-up-articles">
    <div class="line-up-articles-image-wrapper">
      <Image
        src={ListImages}
        alt="blog-cover-image"
      />
    </div>
    <div class="line-up-articles-titles-wrapper">
      <h3>記事タイトル1</h3>
      <p>更新:XXXX/XX/XX</p>
    </div>
  </article>            
</li>

<style>

li {
  height: 100px;
  background-color: rgb(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.line-up-articles {
  display: flex;
}

.line-up-articles-image-wrapper {
  flex-grow: 3;
  width: 30%;
}

.line-up-articles-image-wrapper > img {
  width: 100%;
  height: 100%;
}

.line-up-articles-titles-wrapper {
  flex-grow: 7;
  text-align: left;
  padding-left: 20px;
}

.line-up-articles-titles-wrapper > h3, p {
  margin: 0 0 7px;
}
</style>