---
import { Image } from 'astro:assets'
import dummyImage1 from '../images/dummyImage1.webp'
import halfSizeImage from '../images/halfSizeImage.webp'
---
<div class="contents-main-text-wrapper">
  <div class="contents-main-text">
    <h2>
      XXXXXXXXXXXXXXXX
    </h2>
    <div class="paragraph">
      <Image
        src={dummyImage1}
        alt="blog-image"
      />
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
    <h2>
      YYYYYYYYYYYYYYYY
    </h2>
    <div class="paragraph">
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
      <!-- ハーフサイズの場合思ったより大きく表示されるから後でどうにかする -->
      <Image
        src={halfSizeImage}
        alt="half-size-image"
      />
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
    <h2>
      まとめ
    </h2>
    <div class="paragraph">
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
  </div>
</div>

<style>
  .contents-main-text-wrapper {
    text-align: left;
  }

  .contents-main-text {

  }

  .contents-main-text > h2 {
    padding: 16px 0 3px 20px;
    border-bottom: 2px solid #371C10;
  }

  .paragraph {
    word-break: break-all;
    padding: 0 20px;
  }

  .paragraph > img {
    width: 100%;
    height: 100%;
  }
</style>