---
---
<div class="contents-main-text-wrapper">
  <div class="contents-main-text">
    <h2>
      XXXXXXXXXXXXXXXX
    </h2>
    <div class="paragraph">
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
    <h2>
      YYYYYYYYYYYYYYYY
    </h2>
    <div class="paragraph">
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
    <h2>
      まとめ
    </h2>
    <div class="paragraph">
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
  </div>
</div>

<style>
  .contents-main-text-wrapper {
    text-align: left;
  }

  .contents-main-text {

  }

  .contents-main-text > h2 {
    padding: 16px 0 3px 20px;
    border-bottom: 2px solid #371C10;
  }

  .paragraph {
    word-break: break-all;
    padding: 0 20px;
  }
</style>