---
// const { SiteTitle } = Astro.props
---
<header>
  <!-- 本番ではdivでaタグを囲ってその中にロゴを入れる -->
  <h1 id="site-title">SYABLOG</h1>
</header>

<style>
/* ----- header ----- */
/* タイトルを中央寄せ */
header {
  text-align: center;
  height: 70px;
}
/* 本番では画像のロゴを使う */
#site-title {
  color: #EF454A;
  margin: 0;
}
</style>