---
// const { SiteTitle } = Astro.props
---
<header>
  <h1 id="site-title">SYABLOG</h1>
</header>

<style>
/* ----- header ----- */
/* タイトルを中央寄せ */
header {
  text-align: center;
}
/* 本番では画像のロゴを使う */
#site-title {
  color: #EF454A;
}
</style>