---
---
<div class="toc-wraper">
  <h4 class="toc-heading">目次</h4>
  <div class="toc-content">
    <ol>
      <li>
        <a href="#" class="toc-index">
          XXXXXXXXXXXXXXXX
        </a>
      </li>
      <li>
        <a href="#" class="toc-index">
          YYYYYYYYYYYYYYYY
        </a>
      </li>
      <li>
        <a href="#" class="toc-index">
          まとめ
        </a>
      </li>
    </ol>
  </div>
</div>

<style>
.toc-wraper {
  border:#371C10 1px solid;
  /* background-color: rgb(255, 255, 255, 0.5); */
  background-color: #EAE4D5;
  margin-bottom: 30px;
  border: 1px solid ;
}

.toc-heading {
  margin: 0;
  font-size: 24px;
  border-bottom:#371C10 1px solid;
}

.toc-content {
  /* justify-content: space-between; */
  padding: 10px 20px;
  text-align: left;
}

.toc-content > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}

.toc-content > ol > li {
  padding-left: 16px;
  padding-right: 16px;
  /* text-align: left; */
}

.toc-index {
  text-decoration: none;
  color: #371C10;
}

</style>