---
---
<div class="tags-wraper">
  <h4 class="tags-heading">Tags</h4>
  <div class="tags-content">
    <ul>
      <li>#tag</li>
      <li>#tag</li>
      <li>#tag</li>
      <li>#tag</li>
      <li>#tag</li>
      <li>#tag</li>
      <li>#tag</li>
    </ul>
  </div>
</div>

<style>
.tags-wraper {
  border:#371C10 1px solid;
  background-color: rgb(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.tags-heading {
  margin: 0;
  font-size: 24px;
  border-bottom:#371C10 1px solid;
}

.tags-content {
  /* justify-content: space-between; */
  padding: 10px 20px;

}

.tags-content > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tags-content > ul > li {
  padding-left: 16px;
  padding-right: 16px;
}

</style>